/* ************** Genereal **************** */

.title {
  font-family: 'Fredoka', sans-serif;
}

body {
  font-family: 'Pangolin', sans-serif;
  background-color: #F5DEB3;
}

.remove-underline {
  text-decoration: none;
}

.capitalize {
  text-transform: capitalize;
}

p {
  margin: 0;
}

/* ************* navbar **************** */
nav {
  background-color: #003366;
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-toggler {
  background-color: #F5DEB3;
}

.navbar-toggler-icon {
  font-size: 2rem;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0;
}

.navStyle {
  font-size: 3rem;
  height: 10rem;
  min-width: 94vw;

}

.logo {
  height: 9rem;
  width: 9rem;
  display: block;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav-color,
.white {
  color: #FFFFFF;
}

.nav-color:hover {
  color: #00f733;
  text-decoration: underline;
}

@media (max-width: 991px) {
  #basic-navbar-nav {
    margin-left: -4rem;
  }

  .navbar-mobile-links {
    width: 35rem;
    background-color: #003366;
    padding: 4rem 2rem 0rem 5rem;
  }

  .navbar-mobile-login {
    width: 35rem;
    float: left;
    background-color: #003366;
    padding: 4rem 2rem 5rem 5rem;
    margin-top: -1rem;
    border-bottom-right-radius: 10%;
  }
}