/* ******************** Genereal ******************** */

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fredoka', sans-serif;
  font-size: 4rem;
}

body {
  font-family: 'Pangolin', sans-serif;
  background-color: #F5DEB3;
  font-size: 2rem;
}

.remove-underline {
  text-decoration: none;
}

.capitalize {
  text-transform: capitalize;
}

p {
  margin: 0;
}

.margin-5rem {
  margin: 5rem 0rem;
}

.main {
  min-height: 70vh;
}

/* ******************** navbar ******************** */
nav {
  background-color: #003366;
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-toggler {
  background-color: #F5DEB3;
}

.navbar-toggler-icon {
  font-size: 2rem;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0;
}

.navStyle {
  font-size: 3rem;
  height: 10rem;
  min-width: 94vw;

}

.logo {
  height: 9rem;
  width: 9rem;
  display: block;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav-color,
.white {
  color: #FFFFFF;
}

.nav-color:hover,
.footer-link:hover,
a i:hover,
.wifiListHover:hover {
  color: #00f733;
  text-decoration: underline;
}

@media (max-width: 991px) {
  #basic-navbar-nav {
    margin-left: -4rem;
    z-index: 99;
  }

  .navbar-mobile-links {
    width: 35rem;
    background-color: #003366;
    padding: 4rem 2rem 0rem 5rem;
  }

  .navbar-mobile-login {
    width: 35rem;
    float: left;
    background-color: #003366;
    padding: 4rem 2rem 5rem 5rem;
    margin-top: -1rem;
    border-bottom-right-radius: 10%;
  }
}

/* ******************** Breadcrumb ******************** */
.breadcrumb {
  margin: 2rem;
  font-size: 3rem;
}

.breadcrumb-item a {
  color: #003366;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: #800000;
  text-decoration: underline;
}

.breadcrumb-item.active {
  text-decoration: underline;
}

@media (max-width: 426px) {
  .breadcrumb {
    font-size: 2rem;
  }
}

/* ******************** Hero image ******************** */
.hero-container {
  position: relative;
  width: 100%;
  height: 50rem;
  background-image: url('./assets/headerImage.webp');
  background-size: cover;
  background-position: center -12rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero-container-small {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-title {
  font-size: 5rem;
  font-weight: bold;
}

.overlay-text {
  margin-top: 1rem;
}

.hero-mini {
  width: 100%;
  height: 30rem;
  background-position: center -21rem;
}

@media (max-width: 991px) {
  .hero-container {
    height: 40rem;
  }
}

/* ******************** Description ******************** */

.description {
  width: 90%;
  margin: 0rem auto;
}


/* ******************** Continents ******************** */

.continentsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-title {
  font-size: 3rem;
}

.card {
  width: 45rem;
  background-color: #003366;
  border: 5px solid #003366;
  border-radius: 5rem;
  padding: 3rem 1rem;
  margin: 1rem;
}

.card img {
  width: 80%;
  align-self: center;
  margin-bottom: 3rem;
}

.card-body {
  background-color: #F5DEB3;
  width: 80%;
  margin: 0rem auto;
  height: min-content;
  /* margin-top: 3rem; */
  border-radius: 3rem;
  text-align: center;
}

.btn-back {
  background-color: #003366;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-align: center;
  display: inline-block;
}

.btn {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Hover effects for the button */
.btn-back:hover {
  background-color: #00f733;
}

.btn-back:hover .btn {
  color: #830000;
  text-decoration: underline;
}

@media (max-width: 1025px) {
  .card {
    width: 30rem;
  }
}

/* ******************** Country ******************** */

.pageTitle {
  font-size: 5rem;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}


/* ******************** City ******************** */

.citybtn {
  height: 18rem;
  align-content: center;
}

/* ******************** Wifi Locations List ******************** */

.table {
  --bs-table-color: white;
  --bs-table-bg: #003366;
}

.table-pad {
  padding: 2rem 2rem 2rem 0rem !important;
}

.list-img {
  width: 20rem;
}

@media (max-width: 831px) {
  .d-none-831 {
    display: none;
  }

  .display {
    display: contents !important;
  }
}

@media (max-width: 631px) {
  .d-none-631 {
    display: none;
  }
}

@media (max-width: 526px) {
  .d-none-526 {
    display: none;
  }
}

@media (max-width: 520px) {
  .d-none-520 {
    display: none;
  }

  .mobile-amenities {
    display: block !important;
    color: white;
  }
}

@media (max-width: 446px) {
  .d-none-446 {
    display: none;
  }

  .list-img {
    width: 18rem;
  }

  .p-4 {
    padding: 0 !important;
  }
}


/* ******************** Wifi Creation Page ******************** */
.wificreation-title {
  margin: 3rem 0rem;
}

.wificreation-form {
  width: 60%;
  margin: 5rem auto 10rem auto;
}

.wificreation-form input:not([type="checkbox"]),
.wificreation-form select {
  height: 7rem;
}


#image {
  height: 4rem;
}

.width-100 {
  width: 100%;
}

@media (max-width: 769px) {
  .wificreation-form {
    width: 80%;
  }

  .container {
    max-width: 100%;
  }
}

@media (max-width: 426px) {
  .wificreation-form {
    width: 90%;
  }

}

/* ******************** Wifi Location Page ******************** */

.wifipage-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  align-items: center;
}

.wifipage-img {
  float: left;
  width: 45%;
  position: sticky;
  top: 0;
  text-align: center;
}

.wifipage-text {
  float: right;
  width: 55%;
  height: min-content;
}

.amenities {
  max-width: 90%;
  margin: auto;
  display: flex;
}

.img-fluid {
  max-width: 90%;
}

.wifi-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 484px) {
  .m-top-1 {
    margin-top: 1rem;
  }
}

/* ******************** Wifi Location Page Comments ******************** */


.wifi-comment {
  max-width: 30rem !important;
}

.wifi-comments {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 769px) {
  .wifi-mobile {
    display: flex;
    flex-direction: column;
  }

  .wifipage-img {
    float: left;
    width: 100%;
    position: static;
    top: 0;
    text-align: center;
  }

  .wifipage-text {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
  }

  .wifi-comment {
    max-width: 25rem !important;
    padding: 2rem 1rem;
  }
}


/* ******************** Comments ******************** */

.comment-form {
  width: 70%;
}

.comments-position {
  max-width: 55%;
}

.comment-title {
  font-size: 3rem;
}

input,
select,
textarea {
  font-size: 2rem !important;
}

.star-rating {
  margin-right: 1rem;
}

@media (max-width: 1025px) {
  .comment-form {
    width: 80%;
  }
}

@media (max-width: 769px) {
  .comments-position {
    max-width: 90%;
  }

  .justify-content-end {
    justify-content: center !important;
  }

  .comment-form {
    width: 100%;
  }
}

@media (max-width: 426px) {
  .comments-position {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .justify-content-end {
    justify-content: center !important;
  }
}

/* ******************** Sign Up Form ******************** */

.signup-form {
  width: 56rem;
  margin: auto;
}

.signup-form input {
  height: 7rem;
}

/* ******************** Footer ******************** */

footer {
  background-color: #003366;
}

footer .row {
  align-items: center;
  padding-top: 2rem;
}

.text-align-c {
  text-align: center;
  font-size: 3rem;
}

.footer-bottom {
  border-top: 5px solid #f5deb3;
  margin: 2rem 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer img {
  height: 9rem;
  width: 9rem;
}

a i {
  color: white
}